<!DOCTYPE html>
<html lang="en" data-theme="business">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="/css/output.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2baf6fe4cb.js" crossorigin="anonymous"></script>
</head>