<%- include('partials/head') -%>
<body>
    
  <%- include('partials/nav') -%>
    <section class="p-20 bg-secondary-content h-screen">
        <div class="overflow-x-auto w-full">
            <table class="table w-full table-zebra">
              <!-- head -->
              <thead>
                <tr>
                  <th>Stock Name</th>
                  <th>Return %</th>
                  <th>Price</th>
                  <th>Bought Price</th>
                  <th>Date Bought</th>
                  <th>Return $</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr>
                    <td>
                        <button class="btn btn-ghost btn-xs">AAPL</button>
                    </td>
                    <td>Apple</td>
                    <td>123.4 $</td>
                    <td>65</td>
                    <td>95%</td>
                    <td>5%</td>
                  <td>
                    <div class="tooltip" data-tip="Mark Sold">
                        <i class="fa-solid fa-usd text-success"></i>
                    </div>
                    <div class="tooltip ml-5" data-tip="Remove">
                      <i class="fa-solid fa-minus text-error"></i>
                  </div>
                  </td>
                </tr>
                <tr>
                    <td>
                        <button class="btn btn-ghost btn-xs">AAPL</button>
                    </td>
                    <td>Apple</td>
                    <td>123.4 $</td>
                    <td>65</td>
                    <td>95%</td>
                    <td>5%</td>
                    <td>
                      <div class="tooltip" data-tip="Mark Sold">
                          <i class="fa-solid fa-usd text-success"></i>
                      </div>
                      <div class="tooltip ml-5" data-tip="Remove">
                        <i class="fa-solid fa-minus text-error"></i>
                    </div>
                    </td>
                </tr>
            </table>
          </div>
    </section>
    <%- include('partials/footer') -%>
</body>
</html>