<%- include('partials/head') -%>
<body>
    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content lg:w-1/2 s:w-1">
          <div class="card lg:w-1/2 s:w-1 bg-base-100 shadow-xl">
            <div class="card-body">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Full Name</span>
                    </label>
                  <input type="text" placeholder="fullName" class="input input-bordered" name="name"/>
                </div>
                <div class="form-control">
                <label class="label">
                  <span class="label-text">Email</span>
                </label>
                <input type="email" placeholder="email" class="input input-bordered" name="email"/>
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Password</span>
                </label>
                <input type="password" placeholder="password" class="input input-bordered" name="password"/>
                <label class="label">
                </label>
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Retype Password</span>
                </label>
                <input type="password" placeholder="password" class="input input-bordered" name="confirmPassword"/>
                <label class="label">
                </label>
              </div>
              <div class="form-control mt-6 gap-6">
                <button class="btn btn-primary">Create Account</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>